@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-stroke-sm {
		-webkit-text-stroke: .5px black;
	}
	.text-stroke {
		-webkit-text-stroke: 1px black;
	}
	.text-stroke-lg {
		-webkit-text-stroke: 1.5px black;
	}
}
